.main-top {
  background-color: #ebe9ea;
  height: calc(100vh - $nav_height);
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 820px;
  min-height: 800px;
  position: relative;
  overflow: hidden;
  .top-text-box {
    position: absolute;
    top: 86px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .t1 {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.55px;
    color: #1c1c1c;
  }
  .h1 {
    font-size: 46px;
    line-height: 55px;
    letter-spacing: -2.3px;
    color: #1c1c1c;
    margin-top: 14px;
  }
  .m1 {
    font: 18px;
    line-height: 22px;
    letter-spacing: -0.9px;
    color: #1c1c1c;
    margin-top: 17px;
  }
}
