$nav_height: 73px;
$inner-width: 1120px;
:root {
  /* Colors: */
  --unnamed-color-1c1c1c: #1c1c1c;
  --unnamed-color-0077ff: #0077ff;
  --unnamed-color-1a416e: #1a416e;

  /* Font/text values */
  --unnamed-font-family-segoe-ui: Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", sans-serif;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: 500;
  --unnamed-font-weight-normal: 300;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-22: 22px;
  --unnamed-font-size-46: 46px;
  --unnamed-font-size-48: 48px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-character-spacing--2-4: -2.4px;
  --unnamed-character-spacing--0-9: -0.9px;
  --unnamed-character-spacing--0-55: -0.55px;
  --unnamed-character-spacing--0-46: -0.46px;
  --unnamed-line-spacing-28: 28px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-35: 35px;
  --unnamed-line-spacing-55: 55px;
  --unnamed-line-spacing-58: 58px;
}

/* Character Styles */
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-segoe-ui);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1a416e);
}
.unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-segoe-ui);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-48);
  line-height: var(--unnamed-line-spacing-58);
  letter-spacing: var(--unnamed-character-spacing--2-4);
  color: var(--unnamed-color-1a416e);
}
.unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-segoe-ui);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-28);
  letter-spacing: var(--unnamed-character-spacing--0-9);
  color: var(--unnamed-color-0077ff);
}
.unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-segoe-ui);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-22);
  line-height: var(--unnamed-line-spacing-35);
  letter-spacing: var(--unnamed-character-spacing--0-55);
  color: var(--unnamed-color-1c1c1c);
}
.unnamed-character-style-5 {
  font-family: var(--unnamed-font-family-segoe-ui);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-46);
  line-height: var(--unnamed-line-spacing-55);
  letter-spacing: var(--unnamed-character-spacing--0-46);
  color: var(--unnamed-color-1c1c1c);
}
@mixin text-with-more(
  $top-size: 125px,
  $text-color: #1c1c1c,
  $link-color: #0077ff
) {
  .text-box {
    position: absolute;
    width: 100%;
    top: $top-size;
    text-align: center;
    .t1 {
      color: $text-color;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-46) /
        var(--unnamed-line-spacing-55) var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-46);
      margin-bottom: 13px;
    }
    .sub {
      color: $text-color;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-22) /
        var(--unnamed-line-spacing-35) var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-55);
      margin-bottom: 27px;
    }
    .link {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
        var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-9);
      color: $link-color;
    }
  }
}
@mixin one-bg-contents(
  $con-height,
  $top-size: 125px,
  $text-color: #1c1c1c,
  $link-color: #0077ff
) {
  width: 100%;
  max-width: 1920px;
  margin: 20px auto 0;
  height: $con-height;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @include text-with-more($top-size, $text-color, $link-color);
}
@mixin backgroundInit() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin titleBox() {
  height: 170px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  & > div {
    max-width: 1120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .t1 {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 38px/46px
        var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
      text-align: left;
      letter-spacing: -1.9px;
    }
    .link {
      background: #0069d2 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 15px #72727229;
      border-radius: 31px;
      height: 55px;
      width: 197px;
      display: flex;
      align-items: center;
      justify-content: center;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) / 34px
        var(--unnamed-font-family-segoe-ui);
      text-align: center;
      letter-spacing: -0.5px;
      color: #ffffff;
    }
  }
}
@mixin specBox() {
  max-width: 1120px;
  width: 100%;
  margin: 55px auto 0px;
  .t1 {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) 28px/34px
      var(--unnamed-font-family-segoe-ui);
    color: var(--unnamed-color-1c1c1c);
  }
  .details-box {
    margin-top: 10px;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    & > div {
      padding: 50px 70px;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 36px;
      .s1 {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) var(--unnamed-font-size-18) /
          var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
        letter-spacing: var(--unnamed-character-spacing--0-9);
        color: var(--unnamed-color-1c1c1c);
        margin-bottom: 10px;
      }
      .d1 {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
          var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-1c1c1c);
      }
    }
  }
  .extra-describes {
    margin-top: 30px;
    color: #8b8b8b;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
      var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    letter-spacing: 0px;
  }
}
