@import "./variables";

#map {
  width: 100vw;
  height: 100vh;
}
.map-at {
  background: #fff;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, calc(-17px - 100%));
  & > span {
    display: block;
    padding: 5px;
  }
}
