@import "./variables";
#app {
  font-size: 0;
}
.s2-one {
  @include backgroundInit();
  width: 100%;
  height: 100%;
  min-height: 1080px;
  position: relative;
  .text-box {
    position: absolute;
    left: 50%;
    bottom: 97px;
    transform: translateX(-50%);
    color: #ffffff;
    .sub {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-22) / 26px
        var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-55);
    }
    .t1 {
      margin-top: 12px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-46) /
        var(--unnamed-line-spacing-55) var(--unnamed-font-family-segoe-ui);
      letter-spacing: -2.3px;
    }
  }
  @include media(1120px) {
    min-height: 1147px;
  }
  @include media(800px) {
    min-height: calc(100vh - 90px);
    .text-box {
      bottom: 50px;
    }
  }
  @include media(568px) {
  }
}
.s2-two {
  @include backgroundInit();
  height: 940px;
  @include media(1120px) {
    height: 640px;
  }
  @include media(800px) {
    height: 440px;
  }
  @include media(568px) {
    height: 320px;
  }
}
.s2-three {
  @include backgroundInit();
  width: 100%;
  min-height: 940px;
  .text-box {
    margin: 0 auto 0;
    padding-top: 133px;
    text-align: center;
    color: #ffffff;
    img {
      margin-bottom: 40px;
    }
    .t1 {
      letter-spacing: -2.9px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 58px/70px
        var(--unnamed-font-family-segoe-ui);
      margin-bottom: 32px;
    }
    .sub {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-22) / 34px
        var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-55);
      margin-bottom: 26px;
    }
    .spec-box {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
      & > div {
        background-color: #414141;
        position: relative;
        width: 200px;
        height: 185px;
        text-align: left;
        .top {
          position: absolute;
          left: 20px;
          top: 28px;
          display: flex;
          align-items: flex-start;
          gap: 10px;
          .point {
            letter-spacing: -2.9px;
            font: var(--unnamed-font-style-normal) normal 400 58px /
              var(--unnamed-line-spacing-30) var(--unnamed-font-family-segoe-ui);
          }
          .unit {
            font: var(--unnamed-font-style-normal) normal 300
              var(--unnamed-font-size-18) / 22px
              var(--unnamed-font-family-segoe-ui);
            letter-spacing: var(--unnamed-character-spacing--0-9);
          }
        }
        .bottom {
          position: absolute;
          left: 20px;
          bottom: 22px;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) var(--unnamed-font-size-18) / 25px
            var(--unnamed-font-family-segoe-ui);
          letter-spacing: var(--unnamed-character-spacing-0);
        }
      }
    }
  }
  @include media(1120px) {
    .text-box {
      padding-top: 110px;
      .t1 {
        @include ft(42, 50);
        margin: 0 auto;
      }
      .sub {
        @include ft(24, 34);
        br {
          display: none;
        }
        max-width: 486px;
        margin: 34px auto 41px;
      }
    }
  }
  @include media(800px) {
    .text-box {
      padding: 70px 32px 0;
    }
  }
  @include media(668px) {
    .text-box {
      padding-top: 50px;
      padding-bottom: 450px;
      .spec-box {
        flex-direction: column;
        width: 100%;
        & > div {
          width: 100%;
        }
      }
    }
  }
}

.s2-four {
  @include backgroundInit();
  width: 100%;
  height: 940px;
  @include media(1120px) {
    height: 800px;
  }
  @include media(800px) {
    height: 640px;
  }
  @include media(568px) {
    height: 360px;
  }
}

.s2-five {
  width: 100%;
  img {
    width: 100%;
  }
  @include media(1120px) {
    height: 900px;
    overflow: hidden;
    background-color: #000000;
    img {
      margin-top: 36px;
      height: 100%;
      object-fit: cover;
      transform: scale(1.1);
    }
  }
  @include media(800px) {
  }
  @include media(568px) {
    height: 600px;
  }
}

.s2-six {
  @include backgroundInit();
  width: 100%;
  padding: 295px 0 283px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > .text-box {
    text-align: center;
    color: #ffffff;
    .t1 {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 58px/70px
        var(--unnamed-font-family-segoe-ui);
      letter-spacing: -2.9px;
    }
    .sub {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-22) / 34px
        var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-55);
      margin-top: 32px;
    }
  }
  @include media(1120px) {
    padding: 120px 0;
    & > .text-box {
      .t1 {
        @include ft(42, 50);
      }
      .sub {
        margin-top: 18px;
        @include ft(20, 32);
      }
    }
  }
  @include media(800px) {
    padding: 120px 32px;
  }
  @include media(568px) {
    padding: 80px 0;
    & > .text-box {
      padding: 0 32px;
      .t1 {
        @include ft(32, 40);
      }
      .sub {
        margin-top: 18px;
        @include ft(18, 24);
        br {
          display: none;
        }
      }
    }
  }
}
.system-column {
  margin-top: 154px;
  display: flex;
  flex-direction: column;
  .system-row {
    display: flex;
    & > div {
      @include backgroundInit();
      width: 450px;
      height: 390px;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 37px;
      background-color: #202023;
      &.black {
        background-color: #000000;
      }
      .text-box {
        text-align: center;
        .t1 {
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) var(--unnamed-font-size-18) /
            var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
          letter-spacing: var(--unnamed-character-spacing--0-9);
        }
        .sub {
          letter-spacing: -0.8px;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) 16px/24px
            var(--unnamed-font-family-segoe-ui);
          margin-top: 14px;
        }
      }
    }
    @include media(1120px) {
      flex-direction: column;
      max-width: 768px;
      width: 100%;
      & > div {
        max-width: 768px;
        width: 100%;
      }
    }
  }
  @include media(1120px) {
    margin-top: 83px;
    max-width: 768px;
    width: 100%;
    .system-row {
      display: flex;
      flex-direction: column;
      margin-bottom: 80px;
      &:nth-child(2),
      &:nth-child(3) {
        .black {
          background-position: center top;
        }
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      &.reverse {
        flex-direction: column-reverse;
      }
      & > div {
        padding: 0;
        width: 100%;
        height: 390px;
        &:not(.black) {
          height: auto;
          padding: 40px 32px;
        }
        .text-box {
          .t1 {
            @include ft(24, 28);
          }
          .sub {
            @include ft(20, 32);
          }
        }
      }
    }
  }
  @include media(800px) {
  }
  @include media(568px) {
    padding: 0 16px;
    .system-row {
      margin-bottom: 60px;
      & > div {
        height: 300px;
        &:not(.black) {
          height: auto;
          padding: 32px;
        }
        .text-box {
          text-align: left;
          .t1 {
            @include fl(22, 1.6);
          }
          .sub {
            @include fl(18, 1.6);
            br {
              display: none;
            }
          }
        }
      }
    }
  }
}
.s2-seven {
  background-color: #f6f6f6;
  width: 100%;
  margin: 0 auto;
  padding: 200px 0;
  @include media(1120px) {
    padding: 120px 0;
  }
}
.s2-motors-wrapper {
  text-align: center;
  img {
    width: 340px;
    margin: 0 auto 26px;
  }
  .t1 {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) var(--unnamed-font-size-18) /
      var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing--0-9);
    color: var(--unnamed-color-1c1c1c);
    margin-bottom: 16px;
  }
  .sub {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) 16px/24px
      var(--unnamed-font-family-segoe-ui);
    color: var(--unnamed-color-1c1c1c);
    letter-spacing: -0.8px;
    margin-bottom: 23px;
  }
  .colors {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    & > span {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid #bfbfbf;
    }
  }
}
.s2-seven {
  .details {
    @include specBox();
    @include media(1120px) {
      max-width: 768px;
      margin: 120px auto 0;
    }
    @include media(800px) {
      padding: 0 32px;
    }
    @include media(568px) {
    }
  }
}
.motors-wrapper {
  width: 100%;
  background-color: #ececec;
  overflow: hidden;
  position: relative;
  .swiper-slide {
    text-align: center;
    gap: 0px;
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .img-box {
      max-width: 100%;
      width: 340px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background: center/auto 100% no-repeat;
      @media screen and (max-width: 1048px) {
        transform: scale(0.8);
      }
    }
  }
}
.swiper-pagination {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #eee;
  & > span {
    border: 1px solid #a4a4a4;
    opacity: 1;
  }
}
