@import "./variables";
.swiper-motors {
  max-width: 1048px;
  width: 100%;
  margin: 40px auto 34px;
  overflow: hidden;
  @include media(1048px) {
    width: 100%;
    padding: 0 24px;
  }
}
.motors-wrapper {
  position: relative;
  .motor-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 34px;
    transition: opacity 0.3s;
    visibility: hidden;
    @include media(768px) {
      visibility: visible;
    }
    &.prev {
      left: 0;
      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-style: solid;
        border-color: rgba(50, 50, 55, 0.65);
        border-width: 0 2px 2px 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 0 0 2px;
        transform: translate(-50%, -50%) rotate(135deg);
      }
    }
    &.next {
      right: 0;
      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-style: solid;
        border-color: rgba(50, 50, 55, 0.65);
        border-width: 0 2px 2px 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 0 0 -2px;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    &.swiper-button-disabled {
      opacity: 0;
    }
  }
  width: 100%;
  background-color: #ececec;
  overflow: hidden;
  .swiper-slide {
    text-align: center;
    gap: 0px;
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .img-box {
      max-width: 100%;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: center/auto 100% no-repeat;
      &::before {
        content: "";
        display: block;
        padding-bottom: 63%;
      }
      @media screen and (max-width: 1048px) {
        transform: scale(0.8);
      }
    }
    .b1 {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-18) /
        var(--unnamed-line-spacing-35) var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
      @include media(500px) {
        font-size: 16px;
        white-space: nowrap;
      }
    }
  }
}
.scooter-one {
  width: 100%;
  margin: 0 auto 0;
  height: 883px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  .text-box {
    padding-top: 98px;
  }
  .sub {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) var(--unnamed-font-size-22) / 26px
      var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing--0-55);
    color: var(--unnamed-color-1c1c1c);
    margin-bottom: 19px;
    color: #1c1c1c;
  }
  .t1 {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) 58px/70px
      var(--unnamed-font-family-segoe-ui);
    color: var(--unnamed-color-1c1c1c);
    color: #1c1c1c;
    margin-bottom: 32px;
  }
  .des {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-22) / 34px
      var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing--0-55);
    color: #8a8a8a;
  }
  @include media(1120px) {
    .sub {
      @include ft(28, 34);
    }
    .t1 {
      @include ft(64, 77);
    }
    .des {
      @include ft(28, 40);
    }
  }
  @include media(900px) {
    .text-box {
      padding-top: 78px;
    }
    height: 753px;
    .sub {
      @include ft(24, 26);
    }
    .t1 {
      @include ft(50, 55);
      margin-bottom: 16px;
    }
    .des {
      @include ft(24, 32);
    }
  }
  @include media(768px) {
    height: 700px;
    .text-box {
      padding-top: 78px;
    }
    .sub {
      @include ft(24, 26);
    }
    .t1 {
      @include ft(44, 48);
      margin-bottom: 16px;
    }
    .des {
      @include ft(18, 32);
      max-width: 500px;
      margin: 0 auto;
    }
  }
  @include media(600px) {
    .des {
      br {
        display: none;
      }
      padding: 0 16px;
    }
  }
  @include media(500px) {
    height: 653px;
    .text-box {
      padding-top: 48px;
    }
    .sub {
      @include ft(24, 26);
    }
    .t1 {
      @include ft(44, 48);
      margin-bottom: 16px;
    }
    .des {
      @include ft(18, 32);
      br {
        display: none;
      }
      padding: 0 16px;
    }
  }
}
:root {
  --describe-slider-width: 766px;
  --describe-slider-sub: 577px;
  @media screen and (max-width: 1180px) {
    --describe-slider-width: 640px;
    --describe-slider-sub: 540px;
  }
  @media screen and (max-width: 768px) {
    --describe-slider-width: 440px;
    --describe-slider-sub: 440px;
  }
  @media screen and (max-width: 600px) {
    --describe-slider-width: 80%;
    --describe-slider-sub: 100%;
  }
}
.describe-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  .swiper-box {
    position: relative;
    .slide-control-btn {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 60px;
      max-width: 300px;
      transition: opacity 0.3s;
      z-index: 11;
      display: flex;
      align-items: center;
      justify-content: center;
      &.prev {
        left: 0;
        transform: rotate(180deg);
      }
      &.next {
        right: 0;
      }
      &.swiper-button-disabled {
        opacity: 0;
      }
      @include media(768px) {
        display: none;
      }
    }
    @include media(1180px) {
      padding: 0 64px;
    }
    @include media(768px) {
      padding: 0 32px;
    }
  }
  &.last {
    margin-bottom: 139px;
  }
  .describe-title {
    position: relative;
    left: -177px;
    margin: 149px auto 74px;
    width: var(--describe-slider-width);
    text-align: left;
    .t1 {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-48) /
        var(--unnamed-line-spacing-58) var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--2-4);
      color: var(--unnamed-color-1c1c1c);
      margin-bottom: 28px;
      white-space: pre-line;
    }
    .sub {
      max-width: var(--describe-slider-sub);
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 28px/40px
        var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
      white-space: pre-line;
    }
    @include media(1180px) {
      margin: 149px 0 74px;
      padding: 0 64px;
      left: 0;
      .t1 {
        @include ft(42, 50);
      }
      .sub {
        @include ft(24, 38);
      }
    }
    @include media(1080px) {
      width: 100%;
    }
    @include media(768px) {
      padding: 0 32px;
      margin: 100px auto 50px;
      .t1 {
        font-weight: 500;
        @include fl(34, 1.2);
      }
      .sub {
        @include fl(20, 1.4);
      }
    }
    @include media(500px) {
      margin: 80px auto 40px;
      .t1 {
        @include fl(26, 1.2);
      }
      .sub {
        @include fl(18, 1.4);
      }
    }
  }
  .swiper-wrapper {
    // (1120-766)/2
    position: relative;
    left: -177px;
    @include media(1180px) {
      left: 0;
    }
  }
  .swiper-slide {
    width: var(--describe-slider-width);
    gap: 18px;
    .img-box {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background: center/cover no-repeat;
      border-radius: 30px;
      overflow: hidden;
      position: relative;
      &::before {
        content: "";
        display: block;
        padding-bottom: 56%;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: inherit;
        transition: opacity 0.5s;
        opacity: 0;
      }
    }
    &.swiper-slide-active {
      .img-box::after {
        opacity: 0;
      }
    }
    & > .text-box {
      margin: 48px 0 5px;
      text-align: left;
      .t1 {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) 38px/46px
          var(--unnamed-font-family-segoe-ui);
        color: var(--unnamed-color-1c1c1c);
        letter-spacing: -1.9px;
        margin-bottom: 14px;
      }
      .sub {
        max-width: var(--describe-slider-sub);
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
          var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
        letter-spacing: var(--unnamed-character-spacing--0-9);
        color: var(--unnamed-color-1c1c1c);
      }
      @include media(1180px) {
        .t1 {
          font-weight: 500;
          @include ft(28, 40);
        }
        .sub {
          @include ft(20, 32);
        }
      }
      @include media(768px) {
        margin: 36px 0 5px;
        .t1 {
          @include ft(24, 36);
        }
        .sub {
          @include ft(18, 32);
        }
      }
      @include media(500px) {
        margin: 22px 0 5px;
        .t1 {
          @include fl(22, 1.2);
        }
        .sub {
          @include fl(16, 1.4);
        }
      }
    }
  }
}
.motors-last {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-color: #ececec;
  gap: 124px;
  padding: 138px 0;
  & > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 980px;
    gap: 150px;
  }
  .motor-link-wrap {
    flex: 1;
    text-align: center;
    .sub {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) /
        var(--unnamed-line-spacing-35) var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
      letter-spacing: -0.5px;
      margin-bottom: 15px;
    }
    .t1 {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 30px/36px
        var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
      letter-spacing: -0.3px;
      margin-bottom: 23px;
    }
    .link {
      display: block;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
        var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-9);
      color: var(--unnamed-color-0077ff);
      margin-bottom: 33px;
    }
    .img {
      margin: 0 auto;
      width: 340px;
      height: 240px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  @include media(1180px) {
    background-color: #fff;
    padding: 124px 0;
    & > div {
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      gap: 124px;
    }
    .motor-link-wrap {
      width: 100%;
      .sub {
        @include ft(24, 29);
        font-weight: 500;
      }
      .t1 {
        @include ft(42, 58);
        font-weight: 600;
      }
      .link {
        @include ft(18, 22);
      }
      .img {
        width: 687px;
        height: calc(240px * 687px / 320px);
      }
    }
  }
  @include media(768px) {
    padding: 80px 0;
    gap: 80px;
    & > div {
      gap: 80px;
    }
    .motor-link-wrap {
      .img {
        width: 400px;
        height: calc(240px * 400px / 320px);
      }
    }
  }
  @include media(500px) {
    padding: 50px 0;
    gap: 50px;
    & > div {
      gap: 50px;
    }
    .motor-link-wrap {
      .sub {
        @include fl(20, 1.4);
        font-weight: 500;
        margin-bottom: 8px;
      }
      .t1 {
        @include fl(32, 1.4);
        font-weight: 600;
        margin-bottom: 12px;
      }
      .link {
        @include fl(18, 1.4);
        margin-bottom: 0px;
      }
      .img {
        width: 300px;
        height: calc(240px * 300px / 320px);
      }
    }
  }
}
