@import "./variables";
.swiper-motors {
  width: 1048px;
  margin: 40px auto 34px;
  overflow: hidden;
  @media screen and (max-width: 1048px) {
    width: 100%;
    padding: 0 24px;
  }
}
.motors-wrapper {
  width: 100%;
  background-color: #ececec;
  overflow: hidden;
  .swiper-slide {
    text-align: center;
    gap: 0px;
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .img-box {
      max-width: 100%;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: center/auto 100% no-repeat;
      &::before {
        content: "";
        display: block;
        padding-bottom: 63%;
      }
      @media screen and (max-width: 1048px) {
        transform: scale(0.8);
      }
    }
    .b1 {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-18) /
        var(--unnamed-line-spacing-35) var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
    }
  }
}
.scooter-one {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto 0;
  height: 883px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  .text-box {
    padding-top: 98px;
  }
  .sub {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) var(--unnamed-font-size-22) / 26px
      var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing--0-55);
    color: var(--unnamed-color-1c1c1c);
    margin-bottom: 19px;
    color: #1c1c1c;
  }
  .t1 {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) 58px/70px
      var(--unnamed-font-family-segoe-ui);
    color: var(--unnamed-color-1c1c1c);
    color: #1c1c1c;
    margin-bottom: 32px;
  }
  .des {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-22) / 34px
      var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing--0-55);
    color: #8a8a8a;
  }
}
:root {
  --describe-slider-width: 766px;
  --describe-slider-sub: 577px;
  @media screen and (max-width: 1180px) {
    --describe-slider-width: 440px;
    --describe-slider-sub: 440px;
  }
  @media screen and (max-width: 640px) {
    --describe-slider-width: 280px;
    --describe-slider-sub: 280px;
  }
}
.describe-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  .swiper-box {
    position: relative;
    .slide-control-btn {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 60px;
      max-width: 300px;
      transition: opacity 0.3s;
      z-index: 11;
      display: flex;
      align-items: center;
      justify-content: center;
      &.prev {
        left: 0;
        transform: rotate(180deg);
      }
      &.next {
        right: 0;
      }
      &.swiper-button-disabled {
        opacity: 0;
      }
    }
  }
  &.last {
    margin-bottom: 139px;
  }
  .describe-title {
    margin: 149px auto 74px;
    width: var(--describe-slider-width);
    text-align: left;
    .t1 {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-48) /
        var(--unnamed-line-spacing-58) var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--2-4);
      color: var(--unnamed-color-1c1c1c);
      margin-bottom: 28px;
      white-space: pre-line;
    }
    .sub {
      width: var(--describe-slider-sub);
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 28px/40px
        var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
      white-space: pre-line;
    }
  }
  .swiper-slide {
    width: var(--describe-slider-width);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    .img-box {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background: center/cover no-repeat;
      border-radius: 30px;
      overflow: hidden;
      position: relative;
      &::before {
        content: "";
        display: block;
        padding-bottom: 56%;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: inherit;
        opacity: 1;
        transition: opacity 0.5s;
      }
    }
    &.swiper-slide-active {
      .img-box::after {
        opacity: 0;
      }
    }
    & > .text-box {
      margin: 48px 0 5px;
      text-align: left;
      .t1 {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) 38px/46px
          var(--unnamed-font-family-segoe-ui);
        color: var(--unnamed-color-1c1c1c);
        letter-spacing: -1.9px;
        margin-bottom: 14px;
      }
      .sub {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
          var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
        letter-spacing: var(--unnamed-character-spacing--0-9);
        color: var(--unnamed-color-1c1c1c);
      }
    }
  }
}
.motors-last {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ececec;
  gap: 124px;
  padding: 138px 0;
  & > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 980px;
    gap: 150px;
  }
  .motor-link-wrap {
    flex: 1;
    text-align: center;
    .sub {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) /
        var(--unnamed-line-spacing-35) var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
      letter-spacing: -0.5px;
      margin-bottom: 15px;
    }
    .t1 {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 30px/36px
        var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
      letter-spacing: -0.3px;
      margin-bottom: 23px;
    }
    .link {
      display: block;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
        var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-9);
      color: var(--unnamed-color-0077ff);
      margin-bottom: 33px;
    }
    .img {
      margin: 0 auto;
      width: 340px;
      height: 240px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
