@import "./variables";

.series-one {
  position: relative;
  width: 100%;
  height: 904px;
  @include backgroundInit();
  .text-box {
    position: absolute;
    top: 145px;
    left: 50%;
    transform: translateX(-50%);
    .sub {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-22) / 26px
        var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-55);
      color: var(--unnamed-color-1c1c1c);
      text-align: center;
      margin-bottom: 14px;
    }
    .t1 {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-46) /
        var(--unnamed-line-spacing-55) var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
      text-align: center;
      letter-spacing: -2.3px;
    }
  }
  &.mobile {
    display: none;
  }
  @include media(1120px) {
    height: 977px;
    &.pc {
      display: none;
    }
    &.mobile {
      display: block;
    }
    .text-box {
      top: 145px;
      .sub {
        @include ft(28, 34);
      }
      .t1 {
        @include ft(64, 77);
      }
    }
  }

  @include media(768px) {
    height: 777px;
    .text-box {
      top: 125px;
      .sub {
        @include fl(28, 1.4);
        margin-bottom: 0;
      }
      .t1 {
        @include fl(43, 1.4);
      }
    }
  }
  @include media(568px) {
    height: 577px;
    .text-box {
      top: 75px;
      .sub {
        @include fl(24, 1.4);
        margin-bottom: 0;
      }
      .t1 {
        @include fl(32, 1.4);
      }
    }
  }
}
.series-two {
  @include titleBox();
}
.series-three {
  position: relative;
}
.separated-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 569px;
  @include backgroundInit();
}
.three-wrap {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 106px 0 154px;
  @include media(1120px) {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 0 0 100px;
  }
  .describes-one {
    max-width: 888px;
    letter-spacing: -1.9px;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) 38px / var(--unnamed-line-spacing-58)
      var(--unnamed-font-family-segoe-ui);
    color: #6a6a6a;
    span {
      color: #000000;
    }
    margin-bottom: 171px;
    @include media(1120px) {
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
      padding: 120px 16px;
      br {
        display: none;
      }
    }
    @include media(768px) {
      padding: 80px 48px;
      @include fl(26, 1.6);
    }
    @include media(768px) {
      padding: 60px 32px;
      @include fl(24, 1.6);
    }
  }
  .series-spec {
    position: relative;
    .spec-box {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 130px;
      color: #fff;
      text-align: center;
      .point {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) 32px/38px
          var(--unnamed-font-family-segoe-ui);
        letter-spacing: var(--unnamed-character-spacing-0);
        span {
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) 32px/38px
            var(--unnamed-font-family-segoe-ui);
          letter-spacing: var(--unnamed-character-spacing-0);
        }
      }
      .label {
        margin-top: 8px;
        white-space: nowrap;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) 16px/19px
          var(--unnamed-font-family-segoe-ui);
        letter-spacing: var(--unnamed-character-spacing-0);
      }
    }
    @include media(1120px) {
      padding-top: 71px;
      background-color: #fff;
      img {
        width: 100%;
        height: 768px;
        object-fit: cover;
      }
      .spec-box {
        gap: 69px;
        .point {
          @include ft(35, 42);
          span {
            @include ft(50, 60);
          }
        }
        .label {
          @include ft(21, 25);
        }
      }
    }
    @include media(768px) {
      img {
        height: 540px;
      }
      .spec-box {
        gap: 39px;
        .point {
          @include ft(24, 42);
          span {
            @include ft(32, 60);
          }
        }
        .label {
          @include ft(18, 25);
        }
      }
    }
    @include media(568px) {
      .spec-box {
        gap: 39px;
        display: grid;
        grid-template:
          "A B" 50px
          "C D" 50px;

        & > div:nth-child(1) {
          grid-area: A;
        }
        & > div:nth-child(2) {
          grid-area: B;
        }
        & > div:nth-child(3) {
          grid-area: C;
        }
        & > div:nth-child(4) {
          grid-area: D;
        }
        .point {
          @include fl(24, 1.4);
          span {
            @include fl(32, 1.4);
          }
        }
        .label {
          margin-top: 0px;
          @include fl(18, 1.4);
        }
      }
    }
  }
  .describes-two {
    padding: 145px 0 95px;
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    .t1 {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 32px/38px
        var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
      letter-spacing: -1.6px;
    }
    .sub {
      margin-top: 18px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
        var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-9);
      color: var(--unnamed-color-1c1c1c);
      width: 458px;
    }
    @include media(1120px) {
      max-width: 768px;
      padding: 170px 0 170px;
      .t1 {
        @include ft(42, 50);
      }
      .sub {
        @include ft(24, 38);
        width: 100%;
        white-space: pre-line;
      }
    }
    @include media(768px) {
      padding: 100px 32px;
      .sub {
        padding-right: 48px;
        br {
          display: none;
        }
        white-space: initial;
      }
    }
    @include media(568px) {
      padding: 60px 32px;
      .t1 {
        @include fl(28, 1.4);
      }
      .sub {
        @include fl(18, 1.6);
        margin-top: 6px;
        padding-right: 0px;
      }
    }
  }
  .part-details {
    max-width: 920px;
    margin: 0 auto;
    width: 100%;
    .text-box {
      margin-top: 20px;
      padding-bottom: 20px;
      .t1 {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) var(--unnamed-font-size-18) /
          var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
        letter-spacing: var(--unnamed-character-spacing--0-9);
        color: var(--unnamed-color-1c1c1c);
      }
      .sub {
        margin-top: 14px;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) 16px/24px
          var(--unnamed-font-family-segoe-ui);
        color: var(--unnamed-color-1c1c1c);
        text-align: left;
        letter-spacing: -0.8px;
      }
    }
    @media (min-width: 1121px) {
      & > div {
        position: relative;
        &.one {
          left: -30px;
          width: 540px;
          top: 200px;
          width: 540px;
        }
        &.two {
          right: -30px;
          width: 475px;
          margin: -430px 0 0 auto;
          .text-box {
            margin: 20px 0 0 64px;
          }
        }
        &.three {
          width: 414px;
          margin: 240px 0 0 60px;
        }
        &.four {
          width: 414px;
          margin: -770px 0 0 auto;
        }
      }
    }
    @include media(1120px) {
      max-width: 768px;
      & > div {
        display: flex;
        flex-direction: column-reverse;
        &:first-child {
          .text-box {
            margin-top: 0px;
          }
        }
      }

      .text-box {
        margin-top: 128px;
        padding-bottom: 83px;
        .t1 {
          @include ft(42, 50);
          font-weight: 300;
        }
        .sub {
          @include ft(24, 38);
        }
      }
    }
    @include media(800px) {
      padding-left: 32px;
      padding-right: 32px;
      .text-box {
        padding: 0 0 80px;
      }
    }
    @include media(568px) {
      .text-box {
        margin-top: 84px;
        padding-bottom: 31px;
        .t1 {
          @include fl(28, 1.4);
        }
        .sub {
          @include fl(18, 1.6);
          br {
            display: none;
          }
        }
      }
    }
  }
  .describes-three {
    text-align: center;
    margin-top: 191px;
    margin-bottom: 47px;
    .t1 {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 32px/38px
        var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
      letter-spacing: -1.6px;
    }
    .sub {
      margin-top: 18px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
        var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-9);
      color: var(--unnamed-color-1c1c1c);
    }
    @include media(1120px) {
      .t1 {
        @include ft(42, 50);
        font-weight: 500;
      }
      .sub {
        @include ft(24, 38);
        max-width: 668px;
        margin: 28px auto 0;
        white-space: pre-line;
      }
    }
    @include media(568px) {
      .t1 {
        @include ft(32, 40);
        font-weight: 500;
      }
      .sub {
        @include ft(20, 36);
        max-width: 100%;
        margin: 28px auto 0;
        white-space: initial;
        padding: 0 32px;
        br {
          display: none;
        }
      }
    }
  }
  .grid-box {
    display: grid;
    max-width: 1120px;
    grid-gap: 4px;
    padding-bottom: 4px;
    grid-template:
      "A B B E" 280px
      "A C D E" 250px / 0.25fr 0.3fr 0.2fr 0.25fr;
    & > div {
      display: block;
      overflow: hidden;
      position: relative;
      .img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 1s;
        @include backgroundInit();
        &:hover {
          transform: scale(1.05);
        }
      }
    }
    & > div:nth-child(1) {
      grid-area: A;
    }
    & > div:nth-child(2) {
      grid-area: B;
    }
    & > div:nth-child(3) {
      grid-area: C;
    }
    & > div:nth-child(4) {
      grid-area: D;
    }
    & > div:nth-child(5) {
      grid-area: E;
    }
    @include media(768px) {
      grid-template:
        "A E" 420px
        "B B" 360px
        "C D" 280px / 3fr 2fr;
      padding: 4px;
    }
    @include media(568px) {
      grid-template:
        "A E" 280px
        "B B" 220px
        "C D" 280px / 1fr 1fr;
    }
  }
  .user-experience {
    max-width: 1120px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    color: #ffffff;
    text-align: center;
    & > .t1 {
      position: absolute;
      top: 57px;
      left: 50%;
      transform: translateX(-50%);
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 32px/38px
        var(--unnamed-font-family-segoe-ui);
      letter-spacing: -1.6px;
    }
    .text-box {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 54px;
      .t1 {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) var(--unnamed-font-size-18) /
          var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
        letter-spacing: var(--unnamed-character-spacing--0-9);
      }
      .sub {
        letter-spacing: -0.8px;
        margin-top: 14px;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) 16px/24px
          var(--unnamed-font-family-segoe-ui);
      }
    }
    .mobile {
      display: none;
    }
    @include media(1120px) {
      .pc {
        display: none;
      }
      .mobile {
        display: block;
      }
      img.mobile {
        display: block;
        width: 100%;
        height: 700px;
        object-fit: cover;
      }
      .text-box {
        top: 90px;
        bottom: initial;
        .t1:not(.mobile) {
          @include ft(24, 28);
        }
        .t1.mobile {
          @include ft(42, 50);
          margin-bottom: 18px;
        }
        .sub {
          @include ft(18, 24);
        }
      }
    }
    @include media(768px) {
      .text-box {
        .sub {
          max-width: 500px;
          padding: 0 32px;
          br {
            display: none;
          }
        }
      }
    }
    @include media(568px) {
      img.mobile {
        object-fit: cover;
        object-position: -50px center;
        height: 880px;
      }
      .text-box {
        top: 60px;
        bottom: initial;
        max-width: 100%;
        width: 100%;
        padding: 0 32px;
        .t1:not(.mobile) {
          @include ft(24, 28);
        }
        .t1.mobile {
          @include ft(32, 40);
          margin-bottom: 18px;
        }
        .sub {
          @include ft(18, 24);
          padding: 0;
        }
      }
    }
  }
  .gogoro-app {
    margin: 70px auto 70px;
    text-align: center;
    .t1 {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 32px/38px
        var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
    }
    .sub {
      margin-top: 13px;
      margin-bottom: 38px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
        var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-9);
      color: var(--unnamed-color-1c1c1c);
    }
    .link {
      display: block;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
        var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-9);
      color: var(--unnamed-color-0077ff);
    }
    @include media(1120px) {
      padding: 86px 62px 0;
      width: 100%;
      margin: 0 auto;
      .t1 {
        @include ft(42, 50);
      }
      .sub {
        @include ft(24, 38);
        white-space: pre-line;
      }
      .link {
        @include ft(28, 34);
      }
    }
    @include media(568px) {
      padding: 86px 62px 0;
      padding: 43px 32px 0;
      .t1 {
        @include fl(28, 1.4);
      }
      .sub {
        @include fl(18, 1.4);
        white-space: initial;
        margin-bottom: 16px;
      }
      .link {
        @include fl(18, 1.4);
      }
    }
  }
  .extra-describes {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 27px;
    max-width: 920px;
    margin: 0 auto;
    & > div {
      flex: 1;
    }
    .t1 {
      margin-top: 30px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-18) /
        var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-9);
      color: var(--unnamed-color-1c1c1c);
    }
    .sub {
      margin-top: 14px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 16px/24px
        var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
      letter-spacing: -0.8px;
    }
    @include media(1120px) {
      gap: 123px;
      & > div {
        width: 100%;
      }
      display: flex;
      flex-direction: column;
      padding: 80px 62px;
      width: 100%;
      overflow: hidden;
      img {
        width: 100%;
      }
      .t1 {
        margin-top: 50px;
        padding: 0 32px;
        @include ft(28, 34);
      }
      .sub {
        padding: 0 32px;
        @include ft(24, 40);
      }
    }
    @include media(568px) {
      padding: 40px 32px 0;
      gap: 63px;
      .t1 {
        margin-top: 25px;
        padding: 0;
        @include fl(28, 1.4);
      }
      .sub {
        padding: 0;
        @include fl(20, 1.4);
      }
    }
  }
}
.series-four {
  width: 100%;
  background-color: #f6f6f6;
  padding: 151px 0 177px;
  text-align: center;
  & > .t1 {
    margin-bottom: 82px;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) var(--unnamed-font-size-18) /
      var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing--0-9);
    color: var(--unnamed-color-1c1c1c);
    margin-bottom: 16px;
  }
  .s2-motors-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    .t1 {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-18) /
        var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-9);
      color: var(--unnamed-color-1c1c1c);
      margin-bottom: 16px;
    }
    .sub {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 16px/24px
        var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
      letter-spacing: -0.8px;
      margin-bottom: 23px;
    }
  }
  img {
    width: 340px;
    margin: 0 auto 26px;
    cursor: pointer;
  }
  .colors {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    & > span {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid #bfbfbf;
    }
  }
  .colors.mobile {
    display: none;
  }
  @include media(1120px) {
    padding: 120px 0 212px;
    .pc {
      display: none;
    }
    .colors.mobile {
      display: flex;
      margin-bottom: 33px;
      & > span {
        width: 17px;
        height: 17px;
      }
    }

    .s2-motors-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 120px;
      .t1 {
        @include ft(50, 58);
        font-weight: 600;
      }
      .sub {
        @include ft(28, 40);
      }
    }
    img {
      width: 469px;
    }
  }

  @include media(568px) {
    .s2-motors-wrapper {
      gap: 20px;
      .t1 {
        @include ft(28, 40);
        font-weight: 600;
      }
      .sub {
        @include ft(24, 30);
      }
    }
    img {
      width: 100%;
    }
  }
}
