@import "./variables";

.viva-one {
  width: 100%;
  height: 904px;
  @include backgroundInit();
  @include media(768px) {
    height: 800px;
  }
  @include media(568px) {
    height: 577px;
  }
}
.viva-two {
  @include titleBox();
}
.viva-three {
  width: 100%;
  padding: 126px 0 124px;
  background-color: #e7e001;
  .text {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    letter-spacing: -1.45px;
    color: #ffffff;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) 58px/70px
      var(--unnamed-font-family-segoe-ui);
  }
  @include media(1120px) {
    .text {
      @include ft(40, 66);
      max-width: 768px;
    }
  }
  @include media(800px) {
    padding: 120px 32px;
  }
  @include media(568px) {
    padding: 60px 24px;
    .text {
      @include ft(26, 50);
    }
  }
}
.viva-four {
  width: 100%;
  height: 915px;
  @include backgroundInit();
  position: relative;
  .link {
    position: absolute;
    left: 50%;
    width: auto;
    padding: 0 34px 0 26px;
    height: 55px;
    transform: translateX(-50%);
    bottom: 101px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px #72727229;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
    font: var(--unnamed-font-style-normal) normal 600
      var(--unnamed-font-size-18) / 34px var(--unnamed-font-family-segoe-ui);
    color: var(--unnamed-color-1c1c1c);
    letter-spacing: -0.45px;
  }
  @include media(1120px) {
    height: 800px;
  }
  @include media(800px) {
    height: 600px;
  }
  @include media(568px) {
    height: 400px;
    .link {
      white-space: nowrap;
      min-width: 220px;
      bottom: 51px;
    }
  }
}
.viva-five {
  overflow: hidden;
  width: 100%;
  height: 915px;
  @include backgroundInit();
  position: relative;
  & > .img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-position-x: calc(50% + 200px);
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  & > .text-box {
    position: absolute;
    top: 413px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    color: #ffffff;
    .sub {
      letter-spacing: -0.8px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 32px/38px
        var(--unnamed-font-family-segoe-ui);
    }
    .t1 {
      margin-top: 25px;
      letter-spacing: -2.5px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 100px/120px
        var(--unnamed-font-family-segoe-ui);
    }
  }
  @include media(1120px) {
    height: 700px;
    .text-box {
      max-width: 768px;
      position: relative;
      top: 50%;
      transform: initial;
      left: 0;
      .sub {
        @include ft(28, 34);
      }
      .t1 {
        margin-top: 18px;
        @include ft(64, 77);
      }
    }
  }
  @include media(800px) {
    height: 600px;
    .img {
      background-position-x: calc(50% + 150px);
      background-position-y: 40px;
    }
    .text-box {
      max-width: 100%;
      padding: 0 64px;
    }
  }
  @include media(568px) {
    height: 400px;
    .text-box {
      .sub {
        @include fl(26, 1.4);
      }
      .t1 {
        margin-top: 9px;
        @include fl(40, 1.4);
      }
    }
  }
}
.viva-six {
  padding-top: 143px;
  padding-bottom: 242px;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  & > .t1 {
    padding-bottom: 85px;
    letter-spacing: -1.4px;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) 56px/67px
      var(--unnamed-font-family-segoe-ui);
    color: var(--unnamed-color-1c1c1c);
  }
  .grid-box {
    display: grid;
    gap: 28px;
    grid-template:
      "A A" 688px
      "B C" 788px / 1fr 1fr;
    position: relative;
    & > div {
      display: block;
      overflow: hidden;
      position: relative;
      border-radius: 40px;
      box-shadow: 0px 10px 20px #00000029;
      & > .img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 1s;
        border-radius: 40px;
        @include backgroundInit();
        &:hover {
          transform: scale(1.05);
        }
        color: #fff;
        &.two {
          color: #1c1c1c;
        }
        .text-box {
          position: absolute;
          top: 56px;
          left: 50px;
        }
        .sub {
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) var(--unnamed-font-size-22) /
            var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
          letter-spacing: -1.1px;
        }
        .t1 {
          margin-top: 44px;
          letter-spacing: -1.6px;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) 32px/38px
            var(--unnamed-font-family-segoe-ui);
        }
        img {
          position: relative;
          z-index: -1;
          width: 100%;
          height: 100%;
          object-fit: cover;
          &.mobile {
            display: none;
          }
          @include media(1120px) {
            &.mobile {
              display: block;
            }
            &.pc {
              display: none;
            }
          }
        }
      }
    }
    & > div:nth-child(1) {
      grid-area: A;
    }
    & > div:nth-child(2) {
      grid-area: B;
    }
    & > div:nth-child(3) {
      grid-area: C;
    }
  }
  @include media(1120px) {
    max-width: 768px;
    padding-top: 128px;
    & > .t1 {
      @include ft(40, 60);
      padding-bottom: 36px;
    }
    .grid-box {
      grid-template:
        "A A" 470px
        "B B" 470px
        "C C" 470px;
      & > div {
        & > .img {
          .sub {
            @include ft(20, 28);
          }
          .t1 {
            margin-top: 27px;
            @include ft(24, 36);
          }
        }
      }
    }
  }
  @include media(800px) {
    padding: 128px 32px;
  }
  @include media(568px) {
    & > .t1 {
      @include fl(24, 1.6);
    }
    .grid-box {
      grid-template:
        "A A" 370px
        "B B" 370px
        "C C" 370px;
      & > div {
        & > .img {
          .text-box {
            top: 36px;
            left: 26px;
          }
          .sub {
            @include ft(18, 28);
          }
          .t1 {
            margin-top: 27px;
            @include ft(20, 36);
          }
        }
      }
    }
  }
}
.viva-seven {
  width: 100%;
  height: 1006px;
  @include backgroundInit();
  position: relative;
  overflow: hidden;
  .img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    &.mobile {
      display: none;
    }
    @include media(1120px) {
      &.mobile {
        display: block;
      }
      &.pc {
        display: none;
      }
    }
  }
  .text-box {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1120px;
    width: 100%;
    color: #fff;
    .sub {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 32px/38px
        var(--unnamed-font-family-segoe-ui);
      letter-spacing: -0.8px;
    }
    .t1 {
      margin-top: 25px;
      letter-spacing: -2.5px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 100px/120px
        var(--unnamed-font-family-segoe-ui);
    }
  }
  @include media(1120px) {
    height: 700px;
    .text-box {
      transform: translate(-50%, -50%);
      max-width: 768px;
      .sub {
        @include ft(28, 34);
      }
      .t1 {
        @include ft(64, 77);
      }
    }
  }
  @include media(800px) {
    .img {
      background-position: right bottom;
    }
    height: 600px;
    .text-box {
      top: 50%;
      padding: 0 32px;
    }
  }
  @include media(568px) {
    height: 500px;
    .img {
      background-position: right bottom;
    }
    .text-box {
      top: 40%;
      .sub {
        @include ft(22, 30);
      }
      .t1 {
        @include ft(40, 60);
      }
    }
  }
}
.viva-eight {
  width: 100%;
  position: relative;
  margin-bottom: 271px;
  .swiper-outer {
    position: relative;
    width: 100%;
  }
  .slide-control-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    max-width: 300px;
    transition: opacity 0.3s;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    &.prev {
      left: 0;
      transform: rotate(180deg);
    }
    &.next {
      right: 0;
    }
    &.swiper-button-disabled {
      opacity: 0;
    }
  }
  & > .t1 {
    width: 1120px;
    margin: 169px auto 151px;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) 56px/67px
      var(--unnamed-font-family-segoe-ui);
    color: var(--unnamed-color-1c1c1c);
    letter-spacing: -1.4px;
  }
  .swiper-box {
    position: relative;
  }
  .swiper-wrapper {
    margin-left: calc((-543px - 34px) / 2);
  }
  .swiper-slide {
    width: 543px;
    position: relative;
    border-radius: 40px;
    img.img-box {
      width: 543px;
      height: auto;
      border-radius: 40px;
      box-shadow: 0px 5px 15px #72727229;
    }
    & > .text-box {
      position: absolute;
      z-index: 1;
      top: 56px;
      left: 50px;
      text-align: left;
      .t1 {
        white-space: pre-line;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) 35px/42px
          var(--unnamed-font-family-segoe-ui);
        letter-spacing: -0.88px;
        color: #ffffff;
      }
    }
  }
  @include media(1120px) {
    margin-bottom: 120px;
    overflow: hidden;
    & > .t1 {
      max-width: 768px;
      margin: 128px auto 78px;
      @include ft(40, 60);
    }
    .swiper-box {
      max-width: 768px;
      margin: 0 auto;
    }
    .swiper-wrapper {
      margin-left: 0px;
    }
    .swiper-slide {
      width: 436px;
      img.img-box {
        width: 100%;
      }
    }
  }
  @include media(800px) {
    & > .t1 {
      padding: 0 32px;
      @include ft(40, 60);
    }
    .swiper-box {
      padding: 0 32px;
    }
  }
  @include media(568px) {
    margin-bottom: 100px;
    .swiper-slide {
      width: 80%;
      .text-box {
        top: 0;
        left: 0;
        padding: 26px;
        .t1 {
          @include ft(24, 40);
        }
      }
    }
    & > .t1 {
      @include ft(28, 40);
      margin: 100px auto 39px;
      width: 100%;
      br {
        display: none;
      }
    }
  }
}

.viva-nine {
  width: 100%;
  height: 1006px;
  overflow: hidden;
  @include backgroundInit();
  position: relative;
  & > .img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-position-x: calc(50% + 260px);
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .text-box {
    position: absolute;
    top: 50%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1120px;
    width: 100%;
    color: #fff;
    .sub {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 32px/38px
        var(--unnamed-font-family-segoe-ui);
      letter-spacing: -0.8px;
    }
    .t1 {
      margin-top: 25px;
      letter-spacing: -2.5px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 100px/120px
        var(--unnamed-font-family-segoe-ui);
    }
  }
  @include media(1120px) {
    height: 700px;
    .text-box {
      max-width: 768px;
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: initial;
      left: 0;
      .sub {
        @include ft(28, 34);
      }
      .t1 {
        margin-top: 18px;
        @include ft(64, 77);
      }
    }
  }
  @include media(800px) {
    height: 600px;
    .img {
      background-position-x: calc(50% + 150px);
      background-position-y: 40px;
    }
    .text-box {
      max-width: 100%;
      padding: 0 64px;
      .sub {
        @include ft(24, 34);
      }
      .t1 {
        margin-top: 12px;
        @include ft(44, 60);
      }
    }
  }
  @include media(568px) {
    height: 400px;
    .img {
      background-position-x: calc(50% + 50px);
      background-position-y: 40px;
    }
    .text-box {
      top: 25%;
      padding: 0 32px;
      .sub {
        @include fl(20, 1.4);
      }
      .t1 {
        margin-top: 9px;
        @include fl(32, 1.4);
      }
    }
  }
}

.viva-ten {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto 220px;
  position: relative;
  & > .t1 {
    margin: 169px auto 151px;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) 56px/67px
      var(--unnamed-font-family-segoe-ui);
    color: var(--unnamed-color-1c1c1c);
    letter-spacing: -1.4px;
  }
  .grid-box {
    display: grid;
    gap: 34px;
    grid-template:
      "A B" 788px
      "C D" 788px;
    position: relative;
    & > div {
      display: block;
      overflow: hidden;
      position: relative;
      border-radius: 40px;
      box-shadow: 0px 10px 20px #00000029;
      & > .img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 1s;
        border-radius: 40px;
        @include backgroundInit();
        &:hover {
          transform: scale(1.05);
        }
        padding: 56px 50px;
        color: #fff;
        .sub {
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) var(--unnamed-font-size-22) /
            var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
          letter-spacing: -1.1px;
        }
        .t1 {
          margin-top: 44px;
          letter-spacing: -1.6px;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) 32px/38px
            var(--unnamed-font-family-segoe-ui);
        }
      }
    }
    & > div:nth-child(1) {
      grid-area: A;
    }
    & > div:nth-child(2) {
      grid-area: B;
    }
    & > div:nth-child(3) {
      grid-area: C;
    }
    & > div:nth-child(4) {
      grid-area: D;
    }
  }
  @include media(1120px) {
    max-width: 768px;
    padding-top: 128px;
    & > .t1 {
      margin: 0 auto;
      @include ft(40, 60);
      padding-bottom: 36px;
    }
    .grid-box {
      grid-template:
        "A A" 900px
        "B B" 900px
        "C C" 900px
        "D D" 900px;
      & > div {
        & > .img {
          .sub {
            @include ft(20, 28);
          }
          .t1 {
            margin-top: 27px;
            @include ft(24, 36);
          }
        }
      }
    }
  }
  @include media(800px) {
    margin: 0 auto;
    padding: 128px 32px;
  }
  @include media(568px) {
    & > .t1 {
      @include fl(24, 1.6);
    }
    .grid-box {
      grid-template:
        "A A" 600px
        "B B" 600px
        "C C" 600px
        "D D" 600px;
      & > div {
        & > .img {
          padding: 36px 26px;
          .sub {
            @include ft(18, 28);
          }
          .t1 {
            margin-top: 27px;
            @include ft(20, 36);
          }
        }
      }
    }
  }
}

.viva-eleven {
  overflow: hidden;
  width: 100%;
  height: 1006px;
  @include backgroundInit();
  position: relative;
  & > .img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .text-box {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, calc(-50% + 80px));
    max-width: 1120px;
    width: 100%;
    color: #fff;
    .sub {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 32px/38px
        var(--unnamed-font-family-segoe-ui);
      letter-spacing: -0.8px;
    }
    .t1 {
      margin-top: 25px;
      letter-spacing: -2.5px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 100px/120px
        var(--unnamed-font-family-segoe-ui);
    }
  }
  @include media(1120px) {
    height: 700px;
    .img {
      background-position-x: calc(50% + 50px);
    }
    .text-box {
      max-width: 768px;
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: initial;
      left: 0;
      .sub {
        @include ft(28, 34);
      }
      .t1 {
        margin-top: 18px;
        @include ft(64, 77);
      }
    }
  }
  @include media(800px) {
    height: 600px;
    .img {
      background-position-x: calc(50% - 50px);
      background-position-y: center;
    }
    .text-box {
      max-width: 100%;
      padding: 0 64px;
      top: 60%;
      .sub {
        @include ft(24, 34);
      }
      .t1 {
        margin-top: 12px;
        @include ft(44, 60);
      }
    }
  }
  @include media(568px) {
    height: 400px;
    .img {
      background-position-x: calc(50%);
    }
    .text-box {
      top: 60%;
      padding: 0 32px;
      .sub {
        @include fl(20, 1.4);
      }
      .t1 {
        margin-top: 9px;
        @include fl(32, 1.4);
      }
    }
  }
}

.viva-twelve {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto 220px;
  position: relative;
  & > .t1 {
    margin: 169px auto 151px;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) 56px/67px
      var(--unnamed-font-family-segoe-ui);
    color: var(--unnamed-color-1c1c1c);
    letter-spacing: -1.4px;
  }
  .grid-box {
    display: grid;
    gap: 34px;
    grid-template:
      "A A" 788px
      "B C" 788px
      "D D" 788px;
    position: relative;
    & > div {
      display: block;
      overflow: hidden;
      position: relative;
      border-radius: 40px;
      box-shadow: 0px 10px 20px #00000029;
      & > .img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 1s;
        border-radius: 40px;
        @include backgroundInit();
        &:hover {
          transform: scale(1.05);
        }
        padding: 56px 50px;
        color: #fff;
        &.four {
          color: #1c1c1c;
        }
        .sub {
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) var(--unnamed-font-size-22) /
            var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
          letter-spacing: -1.1px;
        }
        .t1 {
          margin-top: 44px;
          letter-spacing: -1.6px;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) 32px/38px
            var(--unnamed-font-family-segoe-ui);
        }
      }
    }
    & > div:nth-child(1) {
      grid-area: A;
    }
    & > div:nth-child(2) {
      grid-area: B;
    }
    & > div:nth-child(3) {
      grid-area: C;
    }
    & > div:nth-child(4) {
      grid-area: D;
    }
  }
  @include media(1120px) {
    max-width: 768px;
    padding-top: 128px;
    & > .t1 {
      margin: 0 auto;
      @include ft(40, 60);
      padding-bottom: 36px;
    }
    .grid-box {
      grid-template:
        "A A" 600px
        "B B" 600px
        "C C" 600px
        "D D" 600px;
      & > div {
        & > .img {
          .sub {
            @include ft(20, 28);
          }
          .t1 {
            margin-top: 27px;
            @include ft(24, 36);
          }
        }
      }
    }
  }
  @include media(800px) {
    margin: 0 auto;
    padding: 128px 32px;
  }
  @include media(568px) {
    & > .t1 {
      @include fl(24, 1.6);
    }
    .grid-box {
      grid-template:
        "A A" 450px
        "B B" 450px
        "C C" 450px
        "D D" 450px;
      & > div {
        & > .img {
          padding: 36px 26px;
          &.four {
            background-position: 58% center;
          }
          .sub {
            @include ft(18, 28);
          }
          .t1 {
            margin-top: 27px;
            @include ft(20, 36);
          }
        }
      }
    }
  }
}
.viva-thirteen {
  @include backgroundInit();
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 272px;
  text-align: center;
  img {
    height: 66px;
    width: auto;
  }
  .t1 {
    margin-top: 14px;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) 50px/60px
      var(--unnamed-font-family-segoe-ui);
    letter-spacing: -1.25px;
    color: #ffffff;
  }
  @include media(568px) {
    .t1 {
      @include fl(40, 1.4);
    }
  }
}
.viva-fourteen {
  height: 541px;
  @include backgroundInit();
  @include media(800px) {
    background-position-x: 0px;
  }
  @include media(568px) {
    background-position-x: 0px;
  }
}
.viva-fifteen {
  background-color: #f6f6f6;
  padding: 199px 0 203px;
  .viva-motors-wrapper {
    text-align: center;
    img {
      width: 340px;
      margin: 0 auto 26px;
    }
    .t1 {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-18) /
        var(--unnamed-line-spacing-28) var(--unnamed-font-family-segoe-ui);
      letter-spacing: var(--unnamed-character-spacing--0-9);
      color: var(--unnamed-color-1c1c1c);
      margin-bottom: 16px;
    }
    .sub {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 16px/24px
        var(--unnamed-font-family-segoe-ui);
      color: var(--unnamed-color-1c1c1c);
      letter-spacing: -0.8px;
      margin-bottom: 23px;
    }
    .colors {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      & > span {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid #bfbfbf;
      }
    }
  }
  .details {
    @include specBox();
    @include media(1120px) {
      max-width: 768px;
    }
    @include media(800px) {
      padding: 0 32px;
    }
  }
}
