doctype html
html(lang="ko")
  head
    title My Site
    meta(name="description" content="")
    meta(property="og:title" content="")
    meta(property="og:type" content="")
    meta(property="og:url" content="")
    meta(property="og:image" content="")
    include includes/meta.pug
  body
    h1 Hello
    include includes/scripts.pug