doctype html
html(lang="ko")
  head 
    block head
      title #{title}
      meta(property="og:title" content=title)
    include includes/meta.pug
    include includes/head-default.pug
    block styles
    include includes/styles.pug
  body
    include includes/nav.pug
    block contents
    block footer
      include includes/footer.pug
    include includes/scripts.pug