doctype html
html(lang="ko")
  head
    title Scooter
    meta(property="og:title" content="")
    include includes/head-default.pug
    include includes/meta.pug
  body
    include includes/nav.pug
    div#wrap
      h1 Scooter
    include includes/footer.pug
    include includes/scripts.pug