extends layout.pug 

mixin withClassTest(test, name)
  //- attributes == {class: "btn"}
  div(class=attributes.class data-test=test)= name

mixin ayo(name, idx)
  div(data-idx=idx)= name

block head
  title Scooter
  meta(property="og:title" content="Scooter")

block contents
  - const list = ['zero', 'one', 'two']
  +withClassTest('hehe', 'hoho')(class="ccc")
  div.list-wrap
    each val, index in list
      +ayo(val, index)