extends ../includes/layout.pug

block nav
  +navTheme('black')

block contents
  .main-top 
    .top-text-box
      .t1 고고로 2 플러스
      .h1 도시에서 달리는 즐거움
      .m1 더 알아보기
    .top-box
      img(src=require("../images/main_top.png"))