extends ../../../includes/layout.pug

block styles
  link(rel="stylesheet", href=require("../../../sass/viva.scss"))

block contents
  .viva-one(style={"background-image":`url(${require("../../../images/scooter/viva/img-viva-kv.png")})`})
  .viva-two
    div
      .t1 고고로 2 시리즈
      a.link 구매문의
  .viva-three
    .text 고고로 VIVA<br/>페더급 스마트 전동 스쿠터<br/><br/>작은 탐험, 대도시 이동<br/>작은 일상, 피어나는 자신감, 큰 삶
  .viva-four