extends ../../../includes/layout.pug

block contents 
  #response.inactive
    #response-id Loading...
    .title dummy
    .contents dummy
block page-script
  script(src=require("../../../scripts/getId.ts")) 