meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fafafa")
link(rel="apple-touch-icon" href="icon.png")
link(rel="stylesheet" href="/preload/normalize.css")
link(rel="stylesheet" href="/style.scss")
link(rel="manifest" href="/site.webmanifest")