extends ../../includes/layout.pug

block styles
  link(rel="stylesheet" href=require("../../sass/go-station.scss"))

block contents
  div#map

block page-script
  - var appKey = `4a55bf3078fdbcc25cbc85c44e2be418`
  script(src=`//dapi.kakao.com/v2/maps/sdk.js?libraries=services&appkey=${appKey}`) 
  script(src=require("../../scripts/map.ts"))
