doctype html
html(lang="ko")
  head 
    block head
      title #{title}
      meta(property="og:title" content=title)
    include meta.pug
    include head-default.pug
    block styles
    include styles.pug
    block head-script
  body
    include nav.pug
    #app
      block contents
    block footer
      include footer.pug 
    include scripts.pug
    block page-script